@{
    ViewBag.Title = "子分类列表";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@section SubmenuElement{
<a href="javascript:void(0);" class="button" data-reveal-id="myModal" data-animation="fade" data-bind="click:$root.addClick"><small class="icon clipboard"></small><span>新增子分类</span></a>
}
@section SubmenuRightElement{
    <select style="float: right; margin-right: 15px; width: 120px; margin-top: 10px; height: 28px;" id="selectclassq" data-bind="event:{change:$root.SelectClick}">
        <option data-bind="text:'--请选择主分类--',value:'0'"></option>
        <!--ko foreach:$root.BeetleClassList-->
        <option data-bind="text:$data.BCName,value:$data.BCSid"></option>
        <!--/ko-->
    </select>
    
    <div class="module search">
        <p>
            <input type="text" style="margin-right: 5px;" placeholder="搜索..." name="user_search" id="txtSearch" data-bind="event:{keyup:$root.SearchClick}" />
        </p>
    </div>
}

<div id="table" class="help">
    <div class="col w10 last">
        <div class="content">
            <table>
                <tr>
                    <th width="10%">所属主分类</th>
                    <th width="20%">子分类标题</th>
                    <th width="10%">子分类示例图片</th>
                    <th width="10%">创建时间</th>
                    <th width="10%">子分类简介</th>
                    <th width="10%">子分类类别</th>
                    <th width="10%">子分类连接</th>
                    <th width="20%">操作</th>
                </tr>               
                <!--ko foreach:$root.BeetleClassContentList-->
                <tr>
                    <td data-bind="text:BCName"></td>
                    <td data-bind="text:BCCName"></td>
                    <td>
                        <img width="70" height="60" data-bind="attr:{src:BCCPic}" />
                    </td>
                    <td data-bind="text:BCCCreateTime"></td>
                    <td data-bind="text:BCCDesc"></td>
                    <!--ko foreach:$root.BeetleClassContentStatus-->
                    <!--ko if:$data.key==$parent.BCCStatus()-->
                    <td data-bind="text:$data.value"></td>
                    <!--/ko-->
                    <!--/ko-->
                    <td data-bind="text:BCCUrl"></td>
                    <td>
                        <a href="javascript:void(0)" title="编辑子分类" data-reveal-id="myModal" data-animation="fade" class="button" data-bind="click:$root.EditClick"><small class="icon pencil"></small><span>编辑</span></a>
                    </td>
                </tr>
                <!--/ko-->
            </table>
        </div> 
        <div class="module pagination" style="float:right;margin-right:30px;width:300px;">
            <span class="pagingstyle" data-bind="text:'共 '+$root.pageCount() +' 页 ' + +$root.pageSize()+ ' 条'"></span>
            <a href="javascript:void(0)" class="page_left" data-bind="click:$root.PagePrev"><small class="icon arrow_left"></small></a>
            <!--ko foreach:$root.currPageIndex-->
            <!--ko if:$root.pageIndex()==$data-->
            <a href="javascript:void(0)" class="current" data-bind="text:$data,click:$root.IndexClick"></a>
            <!--/ko-->
            <!--ko if:$root.pageIndex()!=$data-->
            <a href="javascript:void(0)" data-bind="text:$data,click:$root.IndexClick"></a>
            <!--/ko-->
            <!--/ko-->
            <a href="javascript:void(0)" class="page_right" data-bind="click:$root.PageNext"><small class="icon arrow_right"></small></a>
            <input type="text" id="txtPage" class="page_right" style="width:20px;margin-top:4px;margin-left:5px;" data-bind="value:$root.pageIndex,event:{keyup:$root.PageEnter}" />
        </div>
    </div>
</div> 

<div id="myModal" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <div id="form" class="help">
        <div class="col w5" data-bind="with:$root.BeetleClassContentInfo">
            <div class="content form">
                <p style="margin-top:20px;">
                    <label for="simple_input">所属主分类:</label>
                    <select name="select" id="selectClass" class="w_28">
                        <!--ko foreach:$root.BeetleClassList-->                        
                        <option data-bind="text:$data.BCName,value:$data.BCSid"></option>
                        <!--/ko-->
                    </select>
                </p>
                <p style="margin-top:20px;">
                    <label for="simple_input">子分类标题:</label>
                    <input type="text" maxlength="50" class="text w_30" data-bind="value:$data.BCCName" />
                </p>
                <p>
                    <label for="simple_input">子分类示例图片:</label>
                    <input type="text" name="simple_input" maxlength="255" class="text w_30" data-bind="value:$data.BCCPic" />
                </p>
                <p>
                    <label for="simple_input">子分类链接:</label>
                    <input type="text" name="simple_input" maxlength="255" class="text w_30" data-bind="value:$data.BCCUrl" />
                </p>
                <p>
                    <label for="select">类型:</label>
                    <select name="select" id="selectType" class="w_28">
                        <option value="option1">主页显示</option>
                        <option value="option2">option2</option>
                    </select>
                </p>
                <p>
                    <label for="select">状态:</label>
                    <select name="select" id="selectStatus" class="w_28">
                        <!--ko foreach:$root.BeetleClassContentStatus-->
                        <!--ko if:$data.key==$parent.BCCStatus()-->
                        <option selected="selected" data-bind="text:$data.value,value:$data.key"></option>
                        <!--/ko-->
                        <!--ko if:$data.key!=$parent.BCCStatus()-->
                        <option data-bind="text:$data.value,value:$data.key"></option>
                        <!--/ko-->
                        <!--/ko-->
                    </select>
                </p>
                <p>
                    <label for="select">简介:</label>
                    <textarea rows="10" maxlength="255" cols="50" data-bind="value:$data.BCCDesc"></textarea>
                    <br />
                </p>
            </div>
            <div style="margin-left:150px;margin-top:40px;width:100%">
                <a href="javascript:void(0)" title="保存" class="button" data-bind="click:$root.SubmitData"><span>&nbsp;&nbsp;保存&nbsp;&nbsp;</span></a>
                <a href="javascript:void(0)" title="取消" class="button" onclick="CloseDialog();"><span>&nbsp;&nbsp;取消&nbsp;&nbsp;</span></a>
            </div>
        </div>
    </div>
</div>


    @section FootElement{

        <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>

        <script type="text/javascript">
            window.Urls = {
                GetClassContentList: "@Url.Action("GetClassContentList", "BeetleManager")",
                GetClassContentInfo: "@Url.Action("GetClassContentInfo", "BeetleManager")",
                AddClassContent: "@Url.Action("AddClassContentInfo", "BeetleManager")",
                GetClassList: "@Url.Action("GetClassList", "BeetleManager")"
            };

            var vClassContentList = function() {
                var self = this;
                self.Urls = window.Urls;

                //分页
                self.pageSize = ko.observable(20); //每页条数
                self.pageIndex = ko.observable(1); //当前页
                self.pageCount = ko.observable(0); //总页数
                self.count = ko.observable(0); //总条数
                self.currPageIndex = ko.observableArray();


                //当前编辑变量ID
                self.CurrID = ko.observable(0);
                self.CurrBCSID = ko.observable("");
                //状态数组
                self.BeetleClassContentStatus = ko.observableArray([{ key: "1", value: "正常" }, { key: "0", value: "关闭" }]);

                self.BeetleClassContentList = ko.observableArray();

                self.BeetleClassContentBind = function(data) {
                    var temp = {};
                    temp.ID = ko.observable(data.ID);
                    temp.BCSid = ko.observable(data.BCSid);
                    temp.BCName = ko.observable(data.BCName);
                    temp.BCCSid = ko.observable(data.BCCSid);
                    temp.BCCName = ko.observable(data.BCCName);
                    temp.BCCPic = ko.observable(data.BCCPic);
                    temp.BCCCreateTime = ko.observable(data.BCCCreateTime);
                    temp.BCCUpdateTime = ko.observable(data.BCCUpdateTime);
                    temp.BCCStatus = ko.observable(data.BCCStatus);
                    temp.BCCType = ko.observable(data.BCCType);
                    temp.BCCUrl = ko.observable(data.BCCUrl);
                    temp.BCCDesc = ko.observable(data.BCCDesc);
                    return temp;
                };

                //分类内容对象
                self.BeetleClassContentInit = function() {
                    var temp = {};
                    temp.ID = ko.observable("");
                    temp.BCSid = ko.observable("");
                    temp.BCName = ko.observable("");
                    temp.BCCSid = ko.observable("");
                    temp.BCCName = ko.observable("");
                    temp.BCCPic = ko.observable("");
                    temp.BCCCreateTime = ko.observable("");
                    temp.BCCUpdateTime = ko.observable("");
                    temp.BCCStatus = ko.observable("");
                    temp.BCCDesc = ko.observable("");
                    temp.BCCType = ko.observable("");
                    temp.BCCUrl = ko.observable("");
                    return temp;
                };


                //分类列表
                self.BeetleClassList = ko.observableArray();
                //分类内容
                self.BeetleClassContentInfo = ko.observable(self.BeetleClassContentInit());
                //分类绑定
                self.BeetleClassBind = function(data) {
                    var temp = {};
                    temp.ID = ko.observable(data.ID);
                    temp.BCSid = ko.observable(data.BCSid);
                    temp.BCName = ko.observable(data.BCName);
                    temp.BCType = ko.observable(data.BCType);
                    temp.BCCreateTime = ko.observable(data.BCCreateTime);
                    temp.BCUpdateTime = ko.observable(data.BCUpdateTime);
                    temp.BCStatus = ko.observable(data.BCStatus);
                    temp.BCDesc = ko.observable(data.BCDesc);
                    temp.BCUrl = ko.observable(data.BCUrl);
                    return temp;
                };
                //搜索框上当前选择的分类sid
                self.CurrSelectBCSid = ko.observable("");

                self.RefreshList = function() {
                    self.BeetleClassContentList.removeAll();
                    $.getJSON(self.Urls.GetClassContentList, { bccname: $("#txtSearch").val(), bcsid: self.CurrSelectBCSid(), ipageindex: self.pageIndex(), ipagesize: self.pageSize() }, function (result) {
                        if (result.IsSuccess) {
                            $(result.ResultData.BCCIList).each(function(index, item) {
                                self.BeetleClassContentList.push(self.BeetleClassContentBind(item));

                                //分页
                                self.count(result.ResultData.iCount);
                                self.pageCount(result.ResultData.iPageCount);
                            });

                            //分页
                            self.currPageIndex.removeAll();
                            if (self.pageIndex() >= 3 && self.pageCount() >= 3) {
                                if (self.pageIndex() + 1 >= self.pageCount()) {
                                    for (var i = self.pageCount() - 2; i <= self.pageCount(); i++) {
                                        self.currPageIndex.push(i);
                                    }
                                } else {
                                    for (var i = self.pageIndex() - 1; i <= self.pageIndex() + 1; i++) {
                                        self.currPageIndex.push(i);
                                    }
                                }
                            } else {
                                if (self.pageCount() <= 3) {
                                    for (var i = 1; i <= self.pageCount(); i++) {
                                        self.currPageIndex.push(i);
                                    }
                                } else {
                                    for (var i = 1; i <= 3; i++) {
                                        self.currPageIndex.push(i);
                                    }
                                }
                            }
                        }
                    });
                };

                self.GetClassInfoList = function() {
                    //获取分类信息
                    self.BeetleClassList.removeAll();
                    $.getJSON(self.Urls.GetClassList, {}, function(result) {
                        if (result.IsSuccess) {
                            $(result.ResultData.BCIList).each(function(index, item) {
                                self.BeetleClassList.push(self.BeetleClassBind(item));
                            });
                        }
                    });
                }
                self.GetData = ko.computed(function() {
                    self.RefreshList();

                });
                self.GetClassData = ko.computed(function(){                    
                    //获取分类信息
                    self.GetClassInfoList();
                });
                
                //判断是否编辑
                self.isEdit = false;
                self.EditClick = function (data) {
                    self.isEdit = true;
                    self.CurrID(data.ID());
                    self.CurrBCSID(data.BCSid());
                    self.ShowDialog("edit");
                };
                self.AddClick = function () {
                    self.isEdit = false;
                    self.CurrID(0);
                    self.CurrBCSID(data.BCSid());
                    self.ShowDialog("add");
                };


                self.SubmitData = function(item, _event) {
                    var vBCInfo = function(data) {
                        var temp = {};
                        temp.ID = self.isEdit ? self.CurrID() : 0;
                        temp.BCSid = $("#selectClass option:selected").val(); //item.BCSid();
                        temp.BCCName = data.BCCName();
                        temp.BCCPic = data.BCCPic();
                        temp.BCCStatus = $("#selectStatus option:selected").val(); //data.BCCStatus();//
                        temp.BCCDesc = data.BCCDesc();
                        temp.BCCType = data.BCCType();
                        temp.BCCUrl = data.BCCUrl();

                        return temp;
                    }
                    var vSubmitData = vBCInfo(item);

                    $.getJSON(self.Urls.AddClassContent, vSubmitData, function(result) {
                        if (result.IsSuccess) {
                            self.RefreshList();
                            CloseDialog();
                            self.isEdit = false;
                        }
                        alert(result.Text);
                    });

                };

                self.ShowDialog = function(type) {
                    switch (type) {
                    case "add":
                        self.BeetleClassContentInfo(self.BeetleClassContentInit());
                        break;
                    case "edit":
                        $.getJSON(self.Urls.GetClassContentInfo, { id: self.CurrID() }, function(result) {
                            if (result.IsSuccess) {
                                self.GetClassInfoList();
                                self.BeetleClassContentInfo(self.BeetleClassContentBind(result.ResultData.BCCInfo));
                                setTimeout(function() {
                                    $("#selectClass").val(self.CurrBCSID());
                                }, 500);

                            } else {
                                self.BeetleClassContentInfo(self.BeetleClassContentInit());
                            }
                        });
                        break;
                    }
                };

                self.SearchClick = function(data, _event) {
                    if (_event.keyCode == 13) {
                        self.RefreshList();
                    }
                };
                self.SelectClick = function (data, _event) {
                    self.CurrSelectBCSid($(_event.target).val());
                };

                //分页
                self.PagePrev = function() {
                    var vPrev = (self.pageIndex() - 1) <= 0 ? 1 : self.pageIndex() - 1;
                    self.pageIndex(vPrev);
                };
                self.PageNext = function() {
                    var vNext = (self.pageIndex() + 1) >= self.pageCount() ? self.pageCount() : (self.pageIndex() + 1);
                    self.pageIndex(vNext);
                };
                self.IndexClick = function(data) {
                    self.pageIndex(data);
                };
                self.PageEnter = function(data, _event) {
                    if (_event.keyCode == 13) {
                        var vPage = $("#txtPage").val() <= 0 ? 1 : $("#txtPage").val() >= self.pageCount() ? self.pageCount() : $("#txtPage").val();
                        $("#txtPage").val(vPage);
                        self.pageIndex(vPage);
                    }
                };

            };
            ko.applyBindings(new vClassContentList());

        </script>
    }
