@{
    ViewBag.Title = "分类内容列表";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@section SubmenuElement{
<a href="javascript.void(0);" class="button" data-reveal-id="myModal" data-animation="fade" data-bind="click:$root.addClick"><small class="icon clipboard"></small><span>新增分类内容</span></a>
}


<div id="table" class="help">
    <div class="col w10 last">
        <div class="content">
            <table>
                <tr>
                    <th width="10%">所属分类</th>
                    <th width="20%">内容标题</th>
                    <th width="10%">内容示例图片</th>
                    <th width="10%">创建时间</th>
                    <th width="10%">内容简介</th>
                    <th width="10%">内容类别</th>
                    <th width="10%">内容连接</th>
                    <th width="20%">操作</th>
                </tr>               
                <!--ko foreach:$root.BeetleClassContentList-->
                <tr>
                    <td data-bind="text:BCSid"></td>
                    <td data-bind="text:BCCName"></td>
                    <td data-bind="text:BCCPic"></td>
                    <td data-bind="text:BCCCreateTime"></td>
                    <td data-bind="text:BCCDesc"></td>
                    <!--ko foreach:$root.BeetleClassContentStatus-->
                    <!--ko if:$data.key==$parent.BCCStatus()-->
                    <td data-bind="text:$data.value"></td>
                    <!--/ko-->
                    <!--/ko-->
                    <td data-bind="text:BCCUrl"></td>
                    <td>
                        <a href="javascript.void(0)" title="编辑分类" data-reveal-id="myModal" data-animation="fade" class="button" data-bind="click:$root.EditClick"><small class="icon pencil"></small><span>编辑</span></a>
                    </td>
                </tr>
                <!--/ko-->
            </table>
        </div> 
        <div class="module pagination">
            <a href="" class="page_left"><small class="icon arrow_left"></small></a>
            <a href="" class="current">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="" class="page_right"><small class="icon arrow_right"></small></a>
        </div>
    </div>
</div> 

<div id="myModal" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <div id="form" class="help">
        <div class="col w5" data-bind="with:$root.BeetleClassContentInfo">
            <div class="content form">
                <p style="margin-top:20px;">
                    <label for="simple_input">所属分类:</label>
                    <select name="select" id="selectClass" class="w_28">
                        @*<!--ko foreach:$root.BeetleClassList-->
                        <option data-bind="text:$data.BCName,value:$data.BCSid"></option>
                        <!--/ko-->*@
                        <!--ko foreach:$root.BeetleClassList-->
                        <!--ko if:$data.BCSid()==$parent.BCSid()-->
                        <option selected="selected" data-bind="text:$data.BCName,value:$data.BCSid"></option>
                        <!--/ko-->
                        <!--ko if:$data.key!=$parent.BCCStatus()-->
                        <option data-bind="text:$data.BCName,value:$data.BCSid"></option>
                        <!--/ko-->
                        <!--/ko-->
                    </select>
                </p>
                <p style="margin-top:20px;">
                    <label for="simple_input">内容标题:</label>
                    <input type="text" maxlength="50" class="text w_30" data-bind="value:$data.BCCName" />
                </p>
                <p>
                    <label for="simple_input">内容示例图片:</label>
                    <input type="text" name="simple_input" maxlength="255" class="text w_30" data-bind="value:$data.BCCPic" />
                </p>
                <p>
                    <label for="simple_input">内容链接:</label>
                    <input type="text" name="simple_input" maxlength="255" class="text w_30" data-bind="value:$data.BCCUrl" />
                </p>
                <p>
                    <label for="select">类型:</label>
                    <select name="select" id="selectType" class="w_28">
                        <option value="option1">主页显示</option>
                        <option value="option2">option2</option>
                    </select>
                </p>
                <p>
                    <label for="select">状态:</label>
                    <select name="select" id="selectStatus" class="w_28">
                        <!--ko foreach:$root.BeetleClassContentStatus-->
                        <!--ko if:$data.key==$parent.BCCStatus()-->
                        <option selected="selected" data-bind="text:$data.value,value:$data.key"></option>
                        <!--/ko-->
                        <!--ko if:$data.key!=$parent.BCCStatus()-->
                        <option data-bind="text:$data.value,value:$data.key"></option>
                        <!--/ko-->
                        <!--/ko-->
                    </select>
                </p>
                <p>
                    <label for="select">简介:</label>
                    <textarea rows="10" maxlength="255" cols="50" data-bind="value:$data.BCCDesc"></textarea>
                    <br />
                </p>
            </div>
            <div style="margin-left:150px;margin-top:40px;width:100%">
                <a href="javascript:void(0)" title="保存" class="button" data-bind="click:$root.SubmitData"><span>&nbsp;&nbsp;保存&nbsp;&nbsp;</span></a>
                <a href="javascript:void(0)" title="取消" class="button" onclick="CloseDialog();"><span>&nbsp;&nbsp;取消&nbsp;&nbsp;</span></a>
            </div>
        </div>
    </div>
</div>


    @section FootElement{

        <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>

        <script type="text/javascript">
            window.Urls = {
                GetClassContentList: "@Url.Action("GetClassContentList", "BeetleManager")",
                GetClassContentInfo: "@Url.Action("GetClassContentInfo", "BeetleManager")",
                AddClassContent: "@Url.Action("AddClassContentInfo", "BeetleManager")",
                GetClassList: "@Url.Action("GetClassList", "BeetleManager")"
            };

            var vClassContentList = function () {
                var self = this;
                self.Urls = window.Urls;

                //当前编辑变量ID
                self.CurrID = ko.observable(0);
                //状态数组
                self.BeetleClassContentStatus = ko.observableArray([{ key: "1", value: "正常" }, { key: "0", value: "关闭" }]);

                self.BeetleClassContentList = ko.observableArray();

                self.BeetleClassContentBind = function (data) {
                    var temp = {};
                    temp.ID = ko.observable(data.ID);
                    temp.BCSid = ko.observable(data.BCSid);
                    temp.BCCSid = ko.observable(data.BCCSid);
                    temp.BCCName = ko.observable(data.BCCName);
                    temp.BCCPic = ko.observable(data.BCCPic);
                    temp.BCCCreateTime = ko.observable(data.BCCCreateTime);
                    temp.BCCUpdateTime = ko.observable(data.BCCUpdateTime);
                    temp.BCCStatus = ko.observable(data.BCCStatus);
                    temp.BCCType = ko.observable(data.BCCType);
                    temp.BCCUrl = ko.observable(data.BCCUrl);
                    temp.BCCDesc = ko.observable(data.BCCDesc);
                    return temp;
                };

                //分类内容对象
                self.BeetleClassContentInit = function () {
                    var temp = {};
                    temp.ID = ko.observable("");
                    temp.BCSid = ko.observable("");
                    temp.BCCSid = ko.observable("");
                    temp.BCCName = ko.observable("");
                    temp.BCCPic = ko.observable("");
                    temp.BCCCreateTime = ko.observable("");
                    temp.BCCUpdateTime = ko.observable("");
                    temp.BCCStatus = ko.observable("");
                    temp.BCCDesc = ko.observable("");
                    temp.BCCType = ko.observable("");
                    temp.BCCUrl = ko.observable("");
                    return temp;
                };


                //分类列表
                self.BeetleClassList = ko.observableArray();
                //分类内容
                self.BeetleClassContentInfo = ko.observable(self.BeetleClassContentInit());
                //分类绑定
                self.BeetleClassBind = function (data) {
                    var temp = {};
                    temp.ID = ko.observable(data.ID);
                    temp.BCSid = ko.observable(data.BCSid);
                    temp.BCName = ko.observable(data.BCName);
                    temp.BCType = ko.observable(data.BCType);
                    temp.BCCreateTime = ko.observable(data.BCCreateTime);
                    temp.BCUpdateTime = ko.observable(data.BCUpdateTime);
                    temp.BCStatus = ko.observable(data.BCStatus);
                    temp.BCDesc = ko.observable(data.BCDesc);
                    temp.BCUrl = ko.observable(data.BCUrl);
                    return temp;
                };

                self.RefreshList = function () {
                    self.BeetleClassContentList.removeAll();
                    $.getJSON(self.Urls.GetClassContentList, {}, function (result) {
                        if (result.IsSuccess) {
                            $(result.ResultData.BCCIList).each(function (index, item) {
                                self.BeetleClassContentList.push(self.BeetleClassContentBind(item));
                            });
                        }
                    });
                };

                self.GetData = ko.computed(function() {
                    self.RefreshList();

                    //获取分类信息
                    self.BeetleClassList.removeAll();
                    $.getJSON(self.Urls.GetClassList, {}, function(result) {
                        if (result.IsSuccess) {
                            $(result.ResultData.BCIList).each(function (index, item) {
                                console.log(item);
                                self.BeetleClassList.push(self.BeetleClassBind(item));
                            });
                        }
                    });
                });

                self.EditClick = function (data) {
                    self.CurrID(data.ID());
                    self.ShowDialog("edit");
                };
                self.AddClick = function () {
                    self.CurrID(0);
                    self.ShowDialog("add");
                };





                self.SubmitData = function (item, _event) {
                    var vBCInfo = function (data) {
                        var temp = {};
                        temp.ID = self.CurrID();
                        temp.BCSid = $("#selectClass option:selected").val(); //item.BCSid();
                        temp.BCCName = data.BCCName();
                        temp.BCCPic = data.BCCPic();
                        temp.BCCStatus = $("#selectStatus option:selected").val();//data.BCCStatus();//
                        temp.BCCDesc = data.BCCDesc();
                        temp.BCCType = data.BCCType();
                        temp.BCCUrl = data.BCCUrl();

                        return temp;
                    }
                    var vSubmitData = vBCInfo(item);

                    $.getJSON(self.Urls.AddClassContent, vSubmitData, function (result) {
                        if (result.IsSuccess) {
                            self.RefreshList();
                            CloseDialog();
                        }
                        alert(result.Text);
                    });

                };

                self.ShowDialog = function (type) {
                    switch (type) {
                        case "add":
                            self.BeetleClassContentInfo(self.BeetleClassContentInit());
                            break;
                        case "edit":
                            $.getJSON(self.Urls.GetClassContentInfo, { id: self.CurrID() }, function (result) {
                                if (result.IsSuccess) {
                                    self.BeetleClassContentInfo(self.BeetleClassContentBind(result.ResultData.BCCInfo));
                                } else {
                                    self.BeetleClassContentInfo(self.BeetleClassContentInit());
                                }
                            });
                            break;
                    }
                };

            };
            ko.applyBindings(new vClassContentList());

        </script>
    }
