@{
    ViewBag.Title = "甲壳虫设计";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    string strCopyright = SPF.Helper.TextHelper.GetConfigItem("Copyright");
}
<div id="cate100">
    <div class="banner">
        <div id="wrapper" style="overflow: hidden;">
            <div id="scroller" style="width: 5709px; -webkit-transform: translate3d(0px, 0px, 0px) scale(1); -webkit-transition: 0ms; transition: 0ms;">
                <ul id="thelist">
                    <li>
                        <p></p>
                        <a href="http://www.baidu.com"><img src="~/Images/first.jpg" style="width: 1903px;" /></a>
                    </li>
                    <li>
                        <p></p>
                        <a href="http://www.baidu.com"><img src="~/Images/second.jpg" style="width: 1903px;" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="nav">
                <div id="prev" onclick="myScroll.scrollToPage('prev', 0, 400, 3); return false;">← prev</div>
                <ul id="indicator">
                    <li class="active">1</li>
                    <li class="">2</li>
                </ul>
                <div id="next" onclick="myScroll.scrollToPage('next', 0, 400, 3); return false;">next →</div>
            </div>
        <div class="clr"></div>
    </div>

    <div id="insert1"></div>
    <div class="imgmenu">
        <ul>
            <li><a href="http://mp.weixin.qq.com/s?__biz=MzAwMzExNDIzOA==&mid=201010916&idx=1&sn=3d3ca9af4dfe24163e1936c125260e01#rd"><img src="~/Images/company.png" alt="公司简介" /></a></li>
            <li><a href="http://www.baidu.com"><img src="~/Images/contact.png" alt="联系我们" /></a></li>
            <li><a href="http://m.wsq.qq.com/263608224"><img src="~/Images/community.png" alt="业主社区" /></a></li>
        </ul>
        <ul>
            <li><a href="@Url.Action("ClassContent", "beetle")?sid=8c387891-0246-4c7c-9113-e5ac1298c4c5"><img src="~/Images/news.png" alt="最新资讯" /></a></li>
            <li><a href="@Url.Action("BeetleService", "beetle")"><img src="~/Images/service.png" alt="服务流程" /></a></li>
            <li><a href="http://mp.weixin.qq.com/s?__biz=MzAwMzExNDIzOA==&mid=201702578&idx=1&sn=f4b1be5884e7a2fd3c3ffd4971eb730f#rd"><img src="~/Images/charge.png" alt="收费标准" /></a></li>
        </ul>
    </div>


    <section>
        <nav class="nav_for_list_ul">
            <div class="ofh">
                <ul>
                    <li class="on"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <div id="nav_uls" style="width: 33.3%; visibility: visible;">
                        <ol style="list-style: none; width: 4435.8125px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate3d(0px, 0px, 0px);">
                            <li style="width: 633.6875px; float: left; vertical-align: top;"><a href="javascript:swiper_2.slide(0);" class="on"><img src="~/Images/home.png" alt="家装案例" /></a></li>
                            <li style="width: 633.6875px; float: left; vertical-align: top;"><a href="javascript:swiper_2.slide(1);"><img style="margin-right:20px;" src="~/Images/public.png" alt="公装案例" /></a></li>
                            <li style="width: 633.6875px; float: left; vertical-align: top;"><a href="javascript:swiper_2.slide(2);"><img style="margin-right:20px;" src="~/Images/team.png" alt="设计团队" /></a></li>
                        </ol>
                    </div>
                </ul>
                <script>
                    window.nav_uls = new Swipe(document.getElementById('nav_uls'), {
                        speed:500,
                        callback: function(){
                            if(this.index>(this.length-3)){
                                this.slide(this.length-3);
                            }
                        }
                    });
                </script>
            </div>
        </nav>
        <div id="list_uls" class="list_uls box_swipe" style="visibility: visible;">
            <ul style="list-style: none; width: 13321px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate3d(0px, 0px, 0px);">
                <li style="width: 1903px; float: left; vertical-align: top;">
                    <dl>
                        <!--ko foreach:$root.CCAList-->
                        <dd>
                            <a data-bind="attr:{href:'/Beetle/BeetlePicShow?sid='+$data.BCCSid()}">
                                <figure>
                                    <div><img data-bind="attr:{src:$data.BCCPic}"/></div>
                                    <figcaption>
                                        <label data-bind="text:$data.BCCName"></label>
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>
                        <!--/ko-->
                    </dl>
                </li>
                <li style="width: 1903px; float: left; vertical-align: top;">
                    <dl>
                        <!--ko foreach:$root.CCBList-->
                        <dd>
                            <a data-bind="attr:{href:'/Beetle/BeetlePicShow?sid='+$data.BCCSid()}">
                                <figure>
                                    <div><img data-bind="attr:{src:$data.BCCPic}" /></div>
                                    <figcaption>
                                        <label data-bind="text:$data.BCCName"></label>
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>
                        <!--/ko-->
                    </dl>
                </li>
                <li style="width: 1903px; float: left; vertical-align: top;">
                    <dl>
                        <!--ko foreach:$root.CCCList-->
                        <dd>
                            <a data-bind="attr:{href:$data.BCCUrl}">
                                <figure>
                                    <div><img data-bind="attr:{src:$data.BCCPic}" /></div>
                                    <figcaption>
                                        <label data-bind="text:$data.BCCName"></label>
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>
                        <!--/ko-->
                    </dl>
                </li>
            </ul>
        </div>
    </section>
    <script type="text/javascript">
        var count = document.getElementById("thelist").getElementsByTagName("img").length;
        for(i=0;i<count;i++){
            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";
        }
        document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
        setInterval(function(){
            myScroll.scrollToPage('next', 0,400,count);
        },3500 );
        window.onresize = function(){
            for(i=0;i<count;i++){
                document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";
            }
            document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
        }
    </script>
    <div id="insert2"></div>

    <div class="copyright">@strCopyright</div>

    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script type="text/javascript">
        //document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //    window.shareData = {
        //        "imgUrl": "http://www.baidu.com",
        //        "timeLineLink": "http://www.baidu.com",
        //        "sendFriendLink": "http://www.baidu.com",
        //        "weiboLink": "http://www.baidu.com",
        //        "tTitle": "测试",
        //        "tContent": "测试",
        //        "fTitle": "测试",
        //        "fContent": "测试",
        //        "wContent": "测试"
        //    };
        //    // 发送给好友
        //    WeixinJSBridge.on('menu:share:appmessage', function(argv) {
        //        WeixinJSBridge.invoke('sendAppMessage', {
        //            "img_url": window.shareData.imgUrl,
        //            "img_width": "640",
        //            "img_height": "640",
        //            "link": window.shareData.sendFriendLink,
        //            "desc": window.shareData.fContent,
        //            "title": window.shareData.fTitle
        //        }, function(res) {
        //            _report('send_msg', res.err_msg);
        //        })
        //    });

        //    // 分享到朋友圈
        //    WeixinJSBridge.on('menu:share:timeline', function(argv) {
        //        WeixinJSBridge.invoke('shareTimeline', {
        //            "img_url": window.shareData.imgUrl,
        //            "img_width": "640",
        //            "img_height": "640",
        //            "link": window.shareData.timeLineLink,
        //            "desc": window.shareData.tContent,
        //            "title": window.shareData.tTitle
        //        }, function(res) {
        //            _report('timeline', res.err_msg);
        //        });
        //    });

        //    // 分享到微博
        //    WeixinJSBridge.on('menu:share:weibo', function(argv) {
        //        WeixinJSBridge.invoke('shareWeibo', {
        //            "content": window.shareData.wContent,
        //            "url": window.shareData.weiboLink,
        //        }, function(res) {
        //            _report('weibo', res.err_msg);
        //        });
        //    });
        //}, false);

        window.Urls = {
            getClassContentForIndex :"@Url.Action("ClassContentForIndex", "Home")"
        };
        var vIndexModel = function() {
            var self = this;
            self.Urls = window.Urls;

            self.Sids = ["4ee947de-60c6-41b9-94b0-4007241fd5c3", "576b4621-9455-4d89-97bd-d30aab013785", "3f3bb325-c531-4d3c-bb1e-8e1badff3417"];

            self.CCAList = ko.observableArray([]);
            self.CCBList = ko.observableArray([]);
            self.CCCList = ko.observableArray([]);
            self.CCBind = function (data) {
                var temp = {};
                temp.BCCSid = ko.observable(data.BCCSid);
                temp.BCCName = ko.observable(data.BCCName);
                temp.BCCPic = ko.observable(data.BCCPic);
                temp.BCCUrl = ko.observable(data.BCCUrl);
                temp.BCCDesc = ko.observable(data.BCCDesc);
                return temp;
            };

            self.GetClass = ko.computed(function () {
                $.getJSON(self.Urls.getClassContentForIndex, { sids: self.Sids.toString() }, function (result) {
                    if (result.IsSuccess) {
                        $(result.ResultData.CCIList).each(function (index, item) {
                            switch(item.BCSid) {
                                case "4ee947de-60c6-41b9-94b0-4007241fd5c3":
                                    self.CCAList.push(self.CCBind(item));
                                    break;
                                case "576b4621-9455-4d89-97bd-d30aab013785":
                                    self.CCBList.push(self.CCBind(item));
                                    break;
                                case "3f3bb325-c531-4d3c-bb1e-8e1badff3417":
                                    self.CCCList.push(self.CCBind(item));
                                    break;
                            }
                        });
                    }
                });
            }, this);
        };
        ko.applyBindings(new vIndexModel());


    </script>
</div>
