@{
    ViewBag.Title = "甲壳虫设计";
    Layout = null;
    string strCopyright = SPF.Helper.TextHelper.GetConfigItem("Copyright");
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/servicecommon.css")" media="all" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/servicereset.css")" media="all" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/servicehome.css")" media="all" />        
        <link href="@Url.Content("~/Css/indexcate.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Css/indexcatez.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Css/iscroll.css")" rel="stylesheet" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.js")"></script>
        <script src="@Url.Content("~/Scripts/swipe.js")"></script>
        <script src="@Url.Content("~/Scripts/iscroll.js")"></script>
        <title>甲壳虫装饰</title>
        <script type="text/javascript">
            var myScroll;
            function loaded() {
                myScroll = new iScroll('wrapper', {
                    snap: true,
                    momentum: false,
                    hScrollbar: false,
                    onScrollEnd: function () {
                        document.querySelector('#indicator > li.active').className = '';
                        document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
                    }
                });
            }
            document.addEventListener('DOMContentLoaded', loaded, false);            
        </script>

    </head>

<body >
    <div style="padding-bottom:52px;">

        <div class="banner">
            <div id="wrapper" style="overflow: hidden;">
                <div id="scroller" style="width: 5709px; -webkit-transform: translate3d(0px, 0px, 0px) scale(1); -webkit-transition: 0ms; transition: 0ms;">
                    <ul id="thelist">
                        <li>
                                  <p>快快点击</p>
                                  <a href="http://www.baidu.com"> <img src="~/Images/test/test1.jpg" style="width: 1903px;" /></a>
                              </li>
                        <li>
                            <p>测试</p>
                            <a href="http://www.baidu.com"> <img src="~/Images/test/test2.jpg" style="width: 1903px;" /></a>
                        </li>
                        <li>
                            <p>32个赞</p>
                            <a href="http://www.baidu.com"> <img src="~/Images/test/test3.jpg" style="width: 1903px;" /></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div id="nav">
                <div id="prev" onclick="myScroll.scrollToPage('prev', 0, 400, 3); return false;">← prev</div>
                <ul id="indicator">
                    <li class="active">1</li>
                    <li class="">2</li>
                    <li class="">3</li>
                </ul>
                <div id="next" onclick="myScroll.scrollToPage('next', 0, 400, 3); return false;">next →</div>
            </div>
            <div class="clr"></div>
        </div>       
        <section>
            <a href="tel:15551189377" class="link_tel icon-phone">15551189377</a>
        </section>
        <section>
            <ul class="list_ul">
                <li>
                    <a href="http://www.baidu.com">
                        <figure>
                            <div style="background-image:url();">&nbsp;</div>
                            <figcaption style="height:33px; overflow:hidden;">设计服务</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.baidu.com">
                        <figure>
                            <div style="background-image:url();">&nbsp;</div>
                            <figcaption style="height:33px; overflow:hidden;">施工服务</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.baidu.com">
                        <figure>
                            <div style=" background-image:url();">&nbsp;</div>
                            <figcaption style="height:33px; overflow:hidden;">软装服务</figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </section>
    </div>   
    <script type="text/javascript">
        var count = document.getElementById("thelist").getElementsByTagName("img").length;
        for (i = 0; i < count; i++) {
            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
        }
        document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
        setInterval(function() {
            myScroll.scrollToPage('next', 0, 400, count);
        }, 3500);
        window.onresize = function() {
            for (i = 0; i < count; i++) {
                document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
            }
            document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
        }

        //document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //    window.shareData = {
        //        "imgUrl": "www.baidu.com",
        //        "timeLineLink": "www.baidu.com",
        //        "sendFriendLink": "www.baidu.com",
        //        "weiboLink": "www.baidu.com",
        //        "tTitle": "测试",
        //        "tContent": "测试",
        //        "fTitle": "测试",
        //        "fContent": "测试",
        //        "wContent": "测试"
        //    };

        //    // 发送给好友
        //    WeixinJSBridge.on('menu:share:appmessage', function(argv) {
        //        WeixinJSBridge.invoke('sendAppMessage', {
        //            "img_url": window.shareData.imgUrl,
        //            "img_width": "640",
        //            "img_height": "640",
        //            "link": window.shareData.sendFriendLink,
        //            "desc": window.shareData.fContent,
        //            "title": window.shareData.fTitle
        //        });
        //    });

        //    // 分享到朋友圈
        //    WeixinJSBridge.on('menu:share:timeline', function(argv) {
        //        WeixinJSBridge.invoke('shareTimeline', {
        //            "img_url": window.shareData.imgUrl,
        //            "img_width": "640",
        //            "img_height": "640",
        //            "link": window.shareData.timeLineLink,
        //            "desc": window.shareData.tContent,
        //            "title": window.shareData.tTitle
        //        });
        //    });

        //    // 分享到微博
        //    WeixinJSBridge.on('menu:share:weibo', function(argv) {
        //        WeixinJSBridge.invoke('shareWeibo', {
        //            "content": window.shareData.wContent,
        //            "url": window.shareData.weiboLink
        //        });
        //    });
        //}, false);
    </script>
    <footer>
        <div style="text-align:center">
            <div class="copyright">@strCopyright</div> <div style="display:none"></div>
        </div>
    </footer>
</body>
</html>