<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta charset="utf-8">
        <link href="~/Css/Beetle/cate100_.css" rel="stylesheet" />
        <link href="~/Css/Beetle/cate100kz1.css" rel="stylesheet" />
        <link href="~/Css/Beetle/iscroll.css" rel="stylesheet" />
        <style type="text/css">
            .banner img {
                width: 100%;
            }

            .themeStyle {
                background-color: #384C5E !important;
            }
        </style>
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
        <script src="~/Scripts/Beetle/swipe.js"></script>
        <script src="~/Scripts/Beetle/iscroll.js"></script>
        <script src="@Url.Content("~/Scripts/SPF.Helper.js")" type="text/javascript"></script>
        <script type="text/javascript">
            var myScroll;
            function loaded() {
                myScroll = new iScroll('wrapper', {
                    snap: true,
                    momentum: false,
                    hScrollbar: false,
                    onScrollEnd: function () {
                        document.querySelector('#indicator > li.active').className = '';
                        document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
                    }
                });
            }
            document.addEventListener('DOMContentLoaded', loaded, false);
            $(function () {
                window.swiper_2 = new Swipe(document.getElementById('list_uls'), {
                    speed: 500,
                    callback: function () {
                        var lis = $(".nav_for_list_ul ul:first-of-type li");
                        lis.removeClass("on").eq(this.index).addClass("on");
                        var las = $(".nav_for_list_ul ul:nth-of-type(2) a");
                        las.removeClass("on").eq(this.index).addClass("on");

                        var minIndex = 0;
                        var maxIndex = Math.max(0, nav_uls.length - 3);
                        var range = [this.index - 1, minIndex, maxIndex];

                        range = range.sort(function (a, b) {
                            return a > b ? 1 : -1;
                        });
                        window.nav_uls.slide(range[1]);
                    }
                });
            });
        </script>
        <link href="~/Css/Beetle/Index.css" rel="stylesheet" />
    </head>

    <body id="listhome10">


        @RenderBody()

        @RenderSection("FootElement", false)

        <link href="~/Css/Beetle/footStyle.css" rel="stylesheet" />
        @*<div id="sharemcover" onclick="document.getElementById('sharemcover').style.display ='';" style=" display:none"><img src="~/Images/ppage_133.jpg"></div>*@
        <div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
            <nav>
                <ul id="top_menu" class="top_menu">
                    <li>
                        <a onclick="javascript:displayit(0)"><img src="@Url.Content("~/Images/Beetle/earth.png")"><label>首页</label></a>
                        <ul id="menu_list0" class="menu_font" style=" display:none"></ul>
                    </li>
                    <li>
                        <a href="tel:18756067203"><img src="@Url.Content("~/Images/Beetle/phone.png")"><label>联系客服</label></a>
                        <ul id="menu_list1" class="menu_font" style=" display:none"></ul>
                    </li>
                    <li>
                        <a href="http://api.map.baidu.com/marker?location=31.296804,121.595327&title=%e7%94%b2%e5%a3%b3%e8%99%ab%e8%a3%85%e9%a5%b0&content=上海市浦东新区东靖路地铁站&output=html"><img src="@Url.Content("~/Images/Beetle/coordinate.png")"><label>公司地址</label></a>
                        <ul id="menu_list2" class="menu_font" style=" display:none"></ul>
                    </li>
                    <li>
                        <a href="#"><img src="@Url.Content("~/Images/Beetle/weixin.png")"><label>微信预约</label></a>
                        <ul id="menu_list3" class="menu_font" style=" display:none"></ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="plug-wrap" onclick="closeall()" style="display: none;"></div>
        <script type="text/javascript">
            function displayit(n) {
                var count = document.getElementById("top_menu").getElementsByTagName("ul").length;
                for (var i = 0; i < count; i++) {
                    if (i == n) {
                        if (document.getElementById("top_menu").getElementsByTagName("ul").item(n).style.display == 'none') {
                            document.getElementById("top_menu").getElementsByTagName("ul").item(n).style.display = '';
                            document.getElementById("plug-wrap").style.display = '';
                        } else {
                            document.getElementById("top_menu").getElementsByTagName("ul").item(n).style.display = 'none';
                            document.getElementById("plug-wrap").style.display = 'none';
                        }
                    } else {
                        document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display = 'none';
                    }
                }
            }
            function closeall() {
                var count = document.getElementById("top_menu").getElementsByTagName("ul").length;
                for (i = 0; i < count; i++) {
                    document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display = 'none';
                }
                document.getElementById("plug-wrap").style.display = 'none';
            }


            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                WeixinJSBridge.call('hideToolbar');
            });
        </script>
    </body>
</html>
